<div class="c-footer__contacts">
  <div class="c-footer-contacts">
    <div class="c-footer-contacts__row">
      <div class="c-footer-contacts__brand">
        <a href="#" class="c-footer-contacts__brand-link w-inline-block">
          <img src="{{asset "built/images/docuwalk-logo.svg"}}" alt="" class="image" />
        </a>
      </div>
    </div>
    <!-- <div class="c-footer-contacts__row">
      <div class="c-contact">
        <div class="c-contact__inner">
          <div class="c-contact__item">
            <div class="c-contact__block">
              <div class="c-contact__row">
                <div class="c-contact__value">
                  14 Wall Street, 20th Floor, <br>
                  NY, New York, 10005 <br>
                  USA
                </div>
              </div>
            </div>
          </div>

          <div class="c-contact__item">
            <div class="c-contact__sub-title">
              ShelterZoom Corporate - Main Numbers:
            </div>
            <div class="c-contact__block">
              <div class="c-contact__row">
                <a class="c-contact__link" href="tel:+16462905880">
                  +1 (646) 290-5880
                </a>
                (International)
              </div>
              <div class="c-contact__row">
                <a class="c-contact__link" href="tel:+18337109666">
                  +1 (833) 710-9666
                </a>
                (Toll free: US &amp; Canada)
              </div>
            </div>
          </div>

          <div class="c-contact__item">
            <div class="c-contact__block">
              <div class="c-contact__row">
                <a class="c-contact__link" href="mailto:info@shelterzoom.com">
                  info@shelterzoom.com
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!---->

    <div class="c-footer-contacts__row">
      <p class="c-footer-contacts__address">
        14 Wall Street, 20th Floor, <br>
        NY, New York, 10005 <br>
        <!-- USA -->
      </p>
    </div>

    <!--
    <div class="c-footer-contacts__row">
      <div>
        <a href="tel:+1 (646) 435-4459" class="c-footer-contacts__link w-inline-block">
          <div class="text-block-2">(646) 435-4459</div>
        </a>
        &nbsp;
        <span class="c-footer-contacts__link-desc">
          (International)
        </span>
      </div>
      <div>
        <a href="tel:+1 (833) 781-7705" class="c-footer-contacts__link w-inline-block">
          <div class="text-block-2">(833) 781-7705</div>
        </a>
        &nbsp;
        <span class="c-footer-contacts__link-desc">
          (Toll free: US & Canada)
        </span>
      </div>
    </div>
    <div class="c-footer-contacts__row">
      <a href="mailto:support@docuwalk.com" target="_blank" class="c-footer-contacts__link w-inline-block">
        <div>support@docuwalk.com</div>
      </a>
    </div>
    -->
  </div>
</div>