<nav class="c-footer__social">
  <a href="//www.facebook.com/DocuWalk-103887751350709/" target="_blank" class="c-footer__social-link w-inline-block">
    <img src="{{asset "built/images/social-facebook_color.svg"}}" alt="" class="h-svg-icon" />
  </a>
  <a href="//twitter.com/docuwalk" target="_blank" class="c-footer__social-link w-inline-block">
    <img src="{{asset "built/images/social-twitter_color.svg"}}" alt="" class="h-svg-icon" />
  </a>
  <a href="//www.instagram.com/docuwalk" target="_blank" class="c-footer__social-link w-inline-block">
    <img src="{{asset "built/images/social-instagram_color.svg"}}" alt="" class="h-svg-icon" />
  </a>
  <a href="//www.linkedin.com/company/docuwalk" target="_blank" class="c-footer__social-link w-inline-block">
    <img src="{{asset "built/images/social-linkedin_color.svg"}}" alt="" class="h-svg-icon" />
  </a>
</nav>